#menu {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin:0 auto 15px ;
	position: relative;
	z-index:2;
	padding: 10px;
	list-style-type: none;
	background: url(../images/transnav.png) no-repeat ;
	font-size: 13px;
	height: 40px;
	width:900px;
	border-top: 0px solid #eee;
	border-bottom: 0px solid #ccc;
}

#menu li {

	display: block;
	line-height: 40px;
	float: left;
	margin: 0;

}

#menu li a {
	text-decoration: none;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	color: #fff;
}

#menu li a:hover, #menu li.active a {
	background-color: #333;
	border-bottom: 0px solid #DDD;
	color: #fff;
	text-decoration:underline;
}

/*-------drop down menu------*/

#nav ul{
	background:#fff;
	background:rgba(255,255,255,0);
	list-style:none;
	position:absolute;
	left:-9999px;
	opacity:0.9;
}

}
#menu ul li{
	padding-top:0px;
	float: none;
	width: 100%;

}
#menu ul a{
	white-space:nowrap;
}
#menu li:hover ul{
	left:0;

}
#menu li:hover a{
	background:#333;
	text-decoration:underline;


}
#menu li:hover ul a{
	text-decoration:none;
	display:block;
	position:relative;


}


#menu li:hover ul li a:hover{
	color: #999;
	text-decoration:underline;

}




#menu ul ul {
	position:absolute;
	visibility:hidden;
	top:auto;
	background:#333;
	text-decoration:underline;

}

#menu ul li:hover ul {
	visibility:visible;
	z-index:10;

	}
